.left-navbar{
    width: 180px;
    height: 100%;
    left: 0;
    padding-top: 56px;
    background-color: burlywood;
}
.content{
    width: calc(100vw - 185px);
    height: 100vh;
    padding-top: 58px;
    margin-left: 185px;
}
