<div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
  <ul class="nav nav-list" style="top: 0;" id="navList">
    <li data-c="Index">
      <a href="?c=Index&a=Index">
        <i class="menu-icon fa fa-tachometer"></i>
        <span class="menu-text">系统首页</span>
      </a>
      <b class="arrow"></b>
    </li>
    <li data-c="User">
      <a href="?c=User&a=Index">
        <i class="menu-icon fa fa-desktop"></i>
        <span class="menu-text">用户管理</span>
      </a>
      <b class="arrow"></b>
    </li>
    <li data-c="Article">
      <a href="?c=Article&a=Index">
        <i class="menu-icon fa fa-list"></i>
        <span class="menu-text">新闻管理</span>
      </a>
      <b class="arrow"></b>
    </li>
    <li data-c="Category">
      <a href="?c=Category&a=Index">
        <i class="menu-icon fa fa-pencil-square-o"></i>
        <span class="menu-text">分类管理</span>
      </a>
      <b class="arrow"></b>
    </li>
    <li data-c="Line">
      <a href="?c=Line&a=Index">
        <i class="menu-icon fa fa-calendar"></i>
        <span class="menu-text">友情链接</span>
      </a>
      <b class="arrow"></b>
    </li>
  </ul>
  <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
       data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
  </div>
</div>
