<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>用户管理</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!-- css -->
  <link rel="stylesheet" href="./Public/Admin/Css/bootstrap.min.css">
  <link rel="stylesheet" href="./Public/Admin/Css/font-awesome.min.css">
  <link rel="stylesheet" href="./Public/Admin/Css/fonts.googleapis.com.css">
  <link rel="stylesheet" href="./Public/Admin/Css/ace.min.css">
  <!-- css -->
</head>
<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state">
  <div class="navbar-container ace-save-state" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="http://ace.jeka.by/index.html" class="navbar-brand">
        <small>
          <i class="fa fa-leaf"></i>
          文君博客
        </small>
      </a>
    </div>
    <div class="navbar-buttons navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="grey dropdown-modal">
          <a data-toggle="dropdown" class="dropdown-toggle" href="http://ace.jeka.by/index.html#">
            <i class="ace-icon fa fa-tasks"></i>
            <span class="badge badge-grey">4</span>
          </a>
        </li>
        <li class="purple dropdown-modal">
          <a data-toggle="dropdown" class="dropdown-toggle" href="http://ace.jeka.by/index.html#">
            <i class="ace-icon fa fa-bell icon-animated-bell"></i>
            <span class="badge badge-important">8</span>
          </a>
        </li>
        <li class="green dropdown-modal">
          <a data-toggle="dropdown" class="dropdown-toggle" href="http://ace.jeka.by/index.html#">
            <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
            <span class="badge badge-success">5</span>
          </a>
        </li>
        <li class="light-blue dropdown-modal">
          <a data-toggle="dropdown" href="http://ace.jeka.by/index.html#" class="dropdown-toggle">
            <img class="nav-user-photo" src="./Public/Libs/Images/user.jpg" alt="Jason&#39;s Photo">
            <span class="user-info">
                    <small>Welcome,</small>
                    Jason
                  </span>

            <i class="ace-icon fa fa-caret-down"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main-container ace-save-state" id="main-container">
  <div id="sidebar" class="sidebar responsive ace-save-state" data-sidebar="true" data-sidebar-scroll="true" data-sidebar-hover="true">
    <ul class="nav nav-list" style="top: 0;">
      <li class="">
        <a href="?">
          <i class="menu-icon fa fa-tachometer"></i>
          <span class="menu-text">系统首页</span>
        </a>
        <b class="arrow"></b>
      </li>
      <li class="active">
        <a href="?c=User&a=Index">
          <i class="menu-icon fa fa-tachometer"></i>
          <span class="menu-text">用户管理</span>
        </a>
        <b class="arrow"></b>
      </li>
      <!--<li class="">
        <a href="http://ace.jeka.by/index.html#" class="dropdown-toggle">
          <i class="menu-icon fa fa-desktop"></i>
          <span class="menu-text">分类管理</span>
          <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
          <li class="">
            <a href="http://ace.jeka.by/typography.html">
              <i class="menu-icon fa fa-caret-right"></i>
              Typography
            </a>
            <b class="arrow"></b>
          </li>
          <li class="">
            <a href="http://ace.jeka.by/index.html#" class="dropdown-toggle">
              <i class="menu-icon fa fa-caret-right"></i>

              Three Level Menu
              <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
              <li class="">
                <a href="http://ace.jeka.by/index.html#">
                  <i class="menu-icon fa fa-leaf green"></i>
                  Item #1
                </a>

                <b class="arrow"></b>
              </li>

              <li class="">
                <a href="http://ace.jeka.by/index.html#" class="dropdown-toggle">
                  <i class="menu-icon fa fa-pencil orange"></i>

                  4th level
                  <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                  <li class="">
                    <a href="http://ace.jeka.by/index.html#">
                      <i class="menu-icon fa fa-plus purple"></i>
                      Add Product
                    </a>

                    <b class="arrow"></b>
                  </li>

                  <li class="">
                    <a href="http://ace.jeka.by/index.html#">
                      <i class="menu-icon fa fa-eye pink"></i>
                      View Products
                    </a>

                    <b class="arrow"></b>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>-->
    </ul>
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
      <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state"
         data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>
  </div>
  <div class="main-content">
    <div class="main-content-inner">
      <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="?c=User&a=Index">用户管理</a>
          </li>
          <li class="active">用户列表</li>
        </ul>
        <div class="nav-search" id="nav-search">
          <form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off">
									<i class="ace-icon fa fa-search nav-search-icon"></i>
								</span>
          </form>
        </div>
      </div>
      <div class="page-content">
        <div class="row">
          <div class="col-xs-12">
            <div class="add-btn">
              <a href="?c=User&a=add" class="btn btn-warning">用户添加</a>
            </div>
            <table id="simple-table" class="table  table-bordered table-hover">
              <thead>
              <tr>
                <th class="center">
                  <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                  </label>
                </th>
                <th class="detail-col">#</th>
                <th>用户名</th>
                <th>昵称</th>
                <th class="hidden-480">电话</th>
                <th>
                  <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                  最后登陆IP
                </th>
                <th class="hidden-480">最后登陆时间</th>
                <th class="hidden-480">最后登陆次数</th>
                <th class="hidden-480">账号状态</th>
                <th class="hidden-480">角色</th>
                <th class="hidden-480">注册时间</th>
                <th>操作</th>
              </tr>
              </thead>
              <tbody>
              {{foreach $user_list as $item}}
              <tr>
                <td class="center">
                  <label class="pos-rel">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                  </label>
                </td>
                <td class="center">{{$item@index + 1}}</td>
                <td>{{$item['username']}}</td>
                <td>{{$item.nikename}}</td>
                <td class="hidden-480">{{$item.tel}}</td>
                <td>{{$item.last_login_ip}}</td>
                <td class="hidden-480">{{$item.last_login_time|date_format:'%Y-%m-%d %H:%M:%S'}}</td>
                <td class="hidden-480">{{$item.login_times}}</td>
                <td class="hidden-480">
                  {{if $item.status eq 1}}
                  <span class="label label-sm label-success">正常</span>
                  {{else}}
                  <span class="label label-sm label-danger">禁用</span>
                  {{/if}}
                </td>
                <td class="hidden-480">
                  {{if $item.role}}
                  <span class="label label-sm label-danger">超级管理员</span>
                  {{else}}
                  <span class="label label-sm label-info">普通管理员</span>
                  {{/if}}
                </td>
                <td class="hidden-480">
                  {{$item.addate|date_format:'%Y-%m-%d %H:%M:%S'}}
                </td>
                <td>
                  <div class="hidden-sm hidden-xs btn-group">
                    <a class="btn btn-xs btn-info" href="?c=User&a=edit&id={{$item.id}}">
                      <i class="ace-icon fa fa-pencil bigger-120"></i>
                    </a>
                    <button class="btn btn-xs btn-danger" onclick="deleteItem({{$item.id}})">
                      <i class="ace-icon fa fa-trash-o bigger-120"></i>
                    </button>
                  </div>
                </td>
              </tr>
              {{/foreach}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<!-- basic scripts -->
<script src="./Public/Admin/Js/jquery-2.1.4.min.js"></script>
<script src="./Public/Admin/Js/bootstrap.min.js"></script>
<script src="./Public/Admin/Js/ace.min.js"></script>
<script>
  function deleteItem(id) {
    if (window.confirm('确定要删除吗？')) {
      location.href = '?c=User&a=delete&id='+id;
    }
  }
</script>
</html>
